<div class="modal-dialog" ng-if="isOpen">
    <div class="backdrop"></div>
    <div class="content">
        <div class="title">{{title}}</div>
        <div class="scrolling-content">
            <div ng-transclude></div>
        </div>
        <div class="button-panel">
            <button ng-click="apply();">{{button}}</button>
        </div>
    </div>
</div>