<div>
    <div ng-click="ctrl.selectDate()" class="header">
        {{ctrl.getFormattedDate()}}
    </div>

    <div ng-repeat="task in tasks" class="task">
        <div ng-click="ctrl.remove(task)" class="task-remove task-button"></div>
        <div ng-click="ctrl.showTask(task)" class="task-title">{{task.title}}</div>
        <div ng-click="ctrl.editTask(task)" class="task-edit task-button"></div>
    </div>

    <button ng-click="ctrl.addTask()">Add task</button>

    <!-- Modal windows -->
    <modal-dialog   data-id="taskView"
                    data-button="OK"
                    data-title="View task"
                    data-is-open="isViewTaskOpen">
        <div>{{editedTask.title}}</div>
        <div>{{ctrl.getFormattedDate()}}</div>
        <div>{{editedTask.description}}</div>
    </modal-dialog>

    <modal-dialog   data-id="taskEdit"
                    data-button="OK"
                    data-title="{{taskEditTitle}}"
                    data-is-open="isEditTaskOpen">
        <p>Title</p>
        <input ng-model="editedTask.title">
        <p>Date</p>
        <input type="date" ng-model="editedTask.date">
        <p>Description</p>
        <textarea ng-model="editedTask.description"></textarea>
    </modal-dialog>

    <modal-dialog  data-id="dateSelect"
                   data-button="Select"
                   data-title="Select date"
                   data-is-open="isDateSelectOpen">
        <p>Date</p>
        <input type="date" ng-model="ctrl.newDate">
    </modal-dialog>
</div>