.modal-dialog, .modal-dialog .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-dialog .backdrop {
    opacity: 0.6;
    background: #111;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-dialog .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    min-width: 50%;
    max-width: 90%;
    max-height: 70%;
    flex: 0 0 auto;
    background: white;
    border: 1px solid #111;
    z-index: 10;
}

.modal-dialog .title {
    flex: 0 0 auto;
    height: 40px;
    width: 100%;
    background: #666;
    color: #EEE;
    border-bottom: 1px solid #111;
    text-align: center;
    line-height: 40px;
}

.modal-dialog .button-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex: 0 0 auto;
    height: 30px;
    width: 100%;
    border-top: 1px solid #111;
    background: #EEE;
}

.modal-dialog .button-panel button {
    border: 1px solid #111;
    background: #559;
    color: #FFF;
    margin: 5px;
}

.modal-dialog .scrolling-content {
    overflow-y: scroll;
    padding: 10px;
}

.modal-dialog .scrolling-content input,
.modal-dialog .scrolling-content textarea {
    width: 100%;
}

.modal-dialog .scrolling-content textarea {
    max-width: 100%;
    min-width: 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

